{% extends "layout.html" %}

{% block body %}
    <div class="container">
        <h1>Student List</h1>
        <div class="row">
            <div class="col-sm-3" style="background-color: lightpink;">
                <ol>
                    {% for student in students %}
                    <a href="{% url 'app:student_card' student.id %}">
                        <li>{{ student }}</li>
                    </a>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>

{% endblock %}