{% extends "layout.html" %}

{% block body %}
{% include "header.html" %}
    <div class="container-fluid">
        <h1>Student List</h1>
        <div class="row-cols-auto" style="padding: 10px;">
            <div class="col-md-auto" style="background-color: rgb(147, 255, 244); padding: 10px;">
                <ol>
                    {% if students %}
                        {% for student in students %}
                        <a href="{% url 'app:student_card' student.id %}">
                            <li>{{ student }}</li>
                        </a>
                        {% endfor %}
                        <br>
                </ol>
                    <div style="display: flex; gap: 20px; padding: 10px;">
                        <form method="get" action="{% url 'app:monthly_summary' %}">
                            <button type="submit">Create monthly summary</button>
                        </form>
                    {% else %}
                        No students yet. Add your students by clicling the button below.
                        <br>
                        <br>
                    {% endif %}
                    <form method="get" action="{% url 'app:create_student' %}">
                        <button type="submit">Add a student &#11088;</button>
                    </form>
                    </div>
            </div>
        </div>
    </div>

{% endblock %}