{% extends "layout.html" %}

{% block body %}
{% include "header.html" %}
    <div class="container-fluid">
        <h1>Student Card</h1>
        <div class="row-cols-auto">
            <div class="col-sm-3" style="background-color: lightpink; padding: 20px;">
                 <p><strong>Student:</strong> {{ student.first_name }} {{ student.last_name }}</p>
                {% for entry in card_data %}
                    <p><strong>Lesson</strong></p>
                    <ul>
                        <li><strong>Rate: </strong>{{entry.lesson.rate}}</li>
                        <li><strong>Language: </strong> {{entry.lesson.language}}</li>
                        <li><strong>Days: </strong> 
                            <ul>
                                {% for day in entry.days %}
                                <li>{{ day }}</li>
                                {% empty %}
                                    No lessons assigned.
                                {% endfor %}
                            </ul>
                        </li>
                        <li><strong>ID: </strong>{{entry.lesson.id}}</li>
                        <div style="display: flex; gap: 10px; padding: 20px;">
                            <form method="get" action="{% url 'app:edit_student_card' student.id entry.lesson.id %}" style="padding: 20px;">
                                <button type="submit">Edit</button>
                            </form>
                            <form method="get" action="{% url 'app:monthly_summary' student.id entry.lesson.id %}" style="padding: 20px;">
                                <button type="submit">Create summary</button>
                            </form>
                        </div>
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}