{% extends "layout.html" %}

{% block body %}
{% include "header.html" %}
    <div class="container-fluid">
        <h1>Student List</h1>
        <div class="row-cols-auto" style="padding: 10px;">
            <div class="col-sm-3" style="background-color: lightpink; padding: 10px;">
                <ol>
                    {% for student in students %}
                    <a href="{% url 'app:student_card' student.id %}">
                        <li>{{ student }}</li>
                    </a>
                    {% endfor %}
                </ol>
                <form method="get" action="{% url 'app:monthly_summary' %}">
                    <button type="submit">Create monthly summary</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}